# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# PyCharm project settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Log files
*.log
